
/*a{
    display: block;
   margin-bottom: 20%;
   margin-left: 10%;
   margin-top: 4%;
   text-decoration: none;
   border: red 2px solid;
   width: 120px;
   text-align: center;
   border-radius:2px 7px 9px 10px;
  color: red;
  
}*/

.Red{
    background-color: red;
    margin: 2px;
   /*color: white;*/
}
.bgwhite{
    background-color: white;
    padding:5px;
    
}
a { font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;}

.centr{
    width: 80%;
    margin: 0 auto;
    /*background-color: red;*/
    margin-top: 5%;
}
#header{
    font:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
}
.btn1{
    width: 139px;
    margin: 0 auto;}


    .down{
    margin-top: 2%;
}
.Profile{
    background-color:red;
    border-radius: 2%; 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.bg{
    background-color: red;
    border-radius: 20px;
}
.font{
   font-size: 24px;
    color: red;
    
}
.centre{
     width: 94%;
    margin: 0 auto;
    /*background-color: red;*/
    /*margin-top: 5%;*/
}
.mrgn{
    margin: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
}


.middle{
    width: 100%;
    /*float: right;*/
    margin-bottom: -5px;
  margin: 0 auto;
}
